:root {
    --main-theme-color: #E5B7ED;
    --main-theme-background-color: #1f1f1f;
    --red: #e12424;
    --pressed-red: #bd1515;
    --border: 2px solid black;
    --inner-border: 1px solid black;
    --block-height: height: calc(100% - 55px);
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

button:focus, textarea:focus {
    outline: none;
}

body {
    font-family: Consolas, Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    height: 100%;
    overflow: hidden;

}

.windows-container {
    position: relative; 
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.top-menu {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--main-theme-background-color);
    position: relative;
    color: whitesmoke;
}

.top-menu-button {
    font-size: 12px;
    color: whitesmoke;
    cursor: pointer;
    background: none;
    border: none;
}

.window-options {
    position: fixed;
    right: 0;
    display: block;
    background-color: white;
    border: var(--inner-border);
    z-index: 100;
    width: 350px;
    opacity: 1;
    transition: opacity 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.options-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.options-grid button {
    border: var(--inner-border);
    border-radius: 0;
    padding: 15px 35px;
}

.menu-description {
    padding: 10px;
}

.window {
    width: 450px;
    background-color: var(--main-theme-color);
    display: block;
    position: absolute;
    border: 1px solid black;

}

.window-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--main-theme-color);
    padding: 5px 8px;
    border-bottom: var(--border);
}

.window-title {
    font-weight: bold;
}

.window-content {
    padding: 5px;
    height: 100%;
    width: 100%;
}

.window-close {
    border: var(--border);
    border-radius: 0%;
    background: transparent;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: black;
    width: 40px;
    height: 40px;
}

.window-close:hover {
    background-color: var(--red);
    border-color: black;
    color: white;
}

.window-close:active {
    background-color: var(--pressed-red);
    color: cornsilk;
}

.picture-block {
    width: 100%;
    height: calc(100% - 55px);
    object-fit: cover;
    position: relative;
    border: var(--border);
    box-sizing: border-box;
    
}

.picture-src-inputs {
    display: flex;
    align-items: center;
    justify-content: center;
}

.set-picture-button {
    padding: 10px;
    font-size: large;
    border: 10px dotted var(--main-theme-color);
    border-radius: 5px;
    outline: none;
}

.set-picture-button:hover {
    border-color: var(--main-theme-color);
    color: whitesmoke;
    background-color: var(--main-theme-background-color);
}

.picture-src-url {
    width: 80%;
    padding: 10px;
    font-size: large;
    border: 10px dotted var(--main-theme-color);
    border-radius: 5px;
    outline: none;
}

.clock-container {
    width: 100%;
    height: calc(100% - 55px);
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(https://cdn.wallpapersafari.com/37/96/thwpNs.png);
    background-size: cover;
    border: var(--border);
}

.time {
    color: white;
    text-shadow: 1px 1px 10px blueviolet;
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 150px;
}

.notebook-textarea {
    width: 100%;
    height: calc(100% - 55px);
    border: var(--border);
    padding: 10px;
    font-size: x-large;

    background-image: url(https://images.unsplash.com/photo-1629196914168-3a2652305f9f?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8cHVycGxlJTIwcGFwZXJ8ZW58MHx8MHx8fDA%3D&fm=jpg&q=60&w=3000);
    background-size: cover;
}

.notebook-accessory {
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 150px;
}

.empty {
    width: 100%;
    height: calc(100% - 55px);
    border: var(--border);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.settings-window {
    width: 60%;
    height: 60%;
    position: fixed;
    top: 15%;
    left: 20%;
    display: flex;
    flex-direction: column;
    z-index: 101;
    background: white;
    border: var(--inner-border);
}

.settings-tabs {
    width: 40%;
    display: flex;
    flex-direction: column;
    border: var(--inner-border);
}

.settings-tabs button {
    border-bottom: var(--border);
    border-radius: 0;
    background-color: white;
}

.settings-content {
    width: 100%;
    border: var(--inner-border);
}

@keyframes slush {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.file-menu {
    position: fixed;
    z-index: 101;
    right: 10px;
}

.menu-list {
    display: flex;
    flex-direction: column;
    border: var(--inner-border);
}

.menu-button {
    border: var(--inner-border);
    border-radius: 0px;
}

.settings-tabs button:hover, .options-grid button:hover, .menu-button:hover {
    background: #ff002f;
    background: radial-gradient(circle,rgba(255, 0, 47, 1) 0%, rgba(119, 170, 206, 1) 70%, rgba(200, 255, 0, 1) 89%, rgba(243, 252, 70, 1) 100%);
    background-size: 400% 400%;
    animation: slush 4s ease infinite;
    color: whitesmoke;
}

.todo-list {
    border: var(--border);
    padding: 5px;
    height: calc(100% - 55px);
    width: 100%;
    overflow-y: scroll;
    background-image: url(https://i.pinimg.com/736x/24/ce/20/24ce20015e788d39c0006d219c9c4dbe.jpg);
    font-size: 18pt;
    font-weight: bold;
}

.todo-item {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    margin: 5px;
}

.empty-todo-area {
    width: 100%;
    height: 25px;
    cursor: pointer;
}

.checkbox {
    border: 2px solid var(--main-theme-background-color);
    border-radius: 5px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    user-select: none;
    transition: all 0.2s ease;
}

.todo-content {
    margin-left: 10px;
    outline: none;
}

.checked {
    text-decoration: line-through;
    color: #1f1f1f55;
    animation: 0.5s checkmark-happy alternate-reverse ease-in;
    background: linear-gradient(90deg,rgba(255, 255, 255, 0) 0%, rgba(235, 241, 247, 0.38) 56%, rgb(183, 111, 212) 57%, rgba(255, 255, 255, 0) 61%);
    background-position: -100% 0%;
    background-size: 200% 100%;
    background-repeat: no-repeat;
}

@keyframes checkmark-happy {
    from {
        background-position: -100% 0%;
    }

    to {
        background-position: 100% 0%;
    }
}
